.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &.not-empty {
    justify-content: normal;
    align-items: normal;
  }

  &__empty-message {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: var(--other-text-color);

    .chat.not-empty & {
      display: none;
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 10px 20px;

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: -1px;
      height: 1px;
      background-color: var(--decor-color);
    }
  }

  &__avatar {
    margin-right: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--interface-color);
  }

  &__user-name {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
  }

  &__setting-btn {
    position: relative;
    margin-left: auto;
    padding: 0;
    width: 25px;
    height: 25px;
    color: #000000;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:active {
      color: var(--app-color);
      background-color: var(--main-message-color);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: currentcolor;
      transform: translateX(-50%);
    }

    &::before {
      top: 5px;
      box-shadow: 0 6px 0 currentcolor;
    }

    &::after {
      bottom: 5px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    padding: 30px 20px;
    overflow-y: auto;
  }

  &__date {
    align-self: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 12px;
    color: var(--other-text-color);
  }

  &__message {
    margin-bottom: 10px;

    &:first-of-type {
      margin-bottom: 0;
    }

    &.my {
      align-self: flex-end;
    }

    &.my + & {
      margin-bottom: 30px;
    }
  }

  &__bottom {
    position: relative;
    flex-shrink: 0;
    padding: 10px 20px;

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      top: -1px;
      height: 1px;
      background-color: var(--decor-color);
    }
  }
}
