.profile-data {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    padding: 10px 0;
    border-bottom: 1px solid var(--interface-color);

    &:last-child {
      border-bottom: none;
    }
  }

  &__name {

  }

  &__value {
    color: var(--other-text-color);
  }

  &__input {
    padding: 0;
    font: inherit;
    text-align: right;
    color: var(--other-text-color);
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  &__logout-button {
    color: #f00;
  }
}

.profile {
  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 64px;
  }

  &__back {
    display: block;
    width: 28px;
    height: 28px;
    background-color: var(--app-color);
    background-image: url("../../../static/images/arrow-left-icon.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &__right {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 510px;
    padding: 60px 0;
  }

  &__avatar {
    margin-bottom: 20px;
    &_without-name {
      margin-bottom: 86px;
    }
  }

  &__user-name {
    margin-bottom: 50px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__user-data {
    margin-bottom: 50px;
  }
}
