.login {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 50px 30px 30px;
    width: 340px;
    min-height: 450px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  }

  &__title {
    margin-bottom: 40px;
    font-size: 1.25rem;
    line-height: 1;
    text-align: center;
  }

  &__form {
    flex-grow: 1;
    margin-bottom: 14px;
  }

  &__link {
    align-self: center;
  }
}
