.messenger {
  &__left {
    flex-shrink: 0;
    width: 310px;
  }

  &__right {
    flex-grow: 1;
  }
}

.messenger-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__top {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 20px 10px 14px;
  }

  &__profile {
    align-self: flex-end;
    margin-bottom: 23px;
    font-size: 12px;
    line-height: 12px;
    color: var(--other-text-color);
  }

  &__chat-list {
    flex-grow: 1;
    padding: 0 10px;
    overflow-y: auto;
  }

  &__chat-item {
    border-top: 1px solid var(--decor-color);

    &:last-child {
      border-bottom: 1px solid var(--decor-color);
    }
  }
}

.search {
  position: relative;
  width: 100%;

  &__input {
    padding: 10px 10px 10px 34px;
    width: 100%;
    background-color: var(--interface-color);
    border: none;
    border-radius: 5px;
  }

  &__button {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url("../../static/images/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.chat {
  position: relative;
  padding: 12px 0;

  &.active::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -10px;
    bottom: 2px;
    left: -10px;
    background-color: var(--main-message-color);
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 10px;
    width: 47px;
    height: 47px;
    background-color: var(--interface-color);
    border-radius: 50%;
  }

  &__wrapper {
    position: relative;
    flex-grow: 1;
    padding-right: 40px;
  }

  &__name {
    display: block;
    margin-bottom: 4px;
    padding-right: 25px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
  }

  &__last-message {
    max-height: 30px;
    font-size: 12px;
    line-height: 15px;
    color: var(--other-text-color);
    overflow: hidden;
  }

  &__you {
    color: #000000;
  }

  &__time {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 9px;
    line-height: 13px;
    color: var(--other-text-color);
  }

  &__badge {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px;
    min-width: 20px;
    height: 20px;
    font-size: 11px;
    line-height: 12px;
    color: #ffffff;
    text-align: center;
    background-color: var(--app-color);
    border-radius: 50%;
  }
}

.talk {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.empty {
    justify-content: center;
    align-items: center;
  }

  &__empty-message {
    display: none;
    font-size: 12px;
    line-height: 12px;
    color: var(--other-text-color);

    .talk.empty & {
      display: block;
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 10px 20px;

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: -1px;
      height: 1px;
      background-color: var(--decor-color);
    }
  }

  &__avatar {
    margin-right: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--interface-color);
  }

  &__user-name {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
  }

  &__setting-btn {
    position: relative;
    margin-left: auto;
    padding: 0;
    width: 25px;
    height: 25px;
    color: #000000;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:active {
      color: var(--app-color);
      background-color: var(--main-message-color);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: currentColor;
      transform: translateX(-50%);
    }

    &::before {
      top: 5px;
      box-shadow: 0 6px 0 currentColor;
    }

    &::after {
      bottom: 5px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    padding: 30px 20px;
    overflow-y: auto
  }

  &__date {
    align-self: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 12px;
    color: var(--other-text-color);
  }

  &__message {
    margin-bottom: 10px;

    &:first-of-type {
      margin-bottom: 0;
    }

    &.my {
      align-self: flex-end;
    }

    &.my + & {
      margin-bottom: 30px;
    }
  }

  &__bottom {
    position: relative;
    flex-shrink: 0;
    padding: 10px 20px;

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      top: -1px;
      height: 1px;
      background-color: var(--decor-color);
    }
  }
}

.talk-form {
  display: flex;
  align-items: center;
  width: 100%;

  &__add-file-btn {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url("../../static/images/clip-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }

  &__input {
    flex-grow: 1;
    margin: 0 10px;
    padding: 9px 20px;
    font: inherit;
    font-size: 12px;
    line-height: 12px;
    background-color: var(--interface-color);
    border: none;
    border-radius: 30px;
  }

  &__submit-btn {
    flex-shrink: 0;
    padding: 0;
    width: 28px;
    height: 28px;
    background-color: var(--app-color);
    background-image: url("../../static/images/arrow-right-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
}

.message {
  padding: 10px;
  max-width: 402px;
  background-color: var(--interface-color);
  border-radius: 6px 6px 0px;

  &.my {
    background-color: var(--main-message-color);
    border-radius: 6px 6px 0 6px;
  }

  &__text {
    margin: 0;
    font-size: 12px;
    line-height: 15px;

    & + & {
      margin-top: 15px;
    }
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 5px;
  }

  &__status {
    margin-right: 4px;
    width: 10px;
    height: 4px;
    background-image: url("../../static/images/status-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__time {
    font-size: 9px;
    line-height: 9px;
    color: var(--other-text-color);

    .message.my & {
      color: var(--app-color);
    }
  }
}
