:root {
  --main-text-color: #1e1e1e;
  --other-text-color: #999999;
  --app-color: #3369f3;
  --main-message-color: #e4edfd;
  --other-message-color: #f8f8f8;
  --error-color: #ff2f2f;
  --interface-color: #efefef;
  --decor-color: #eaeaea;
  --left-bar-color: #fbfbfb;
  --logout-color: #ff0000;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 500;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--app-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

.section {
  display: flex;
  height: 100vh;
}

.left-bar {
  background-color: var(--left-bar-color);
  border-right: 1px solid var(--decor-color);
}

.form {
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 47px;
    }
  }

  &__button {
    margin-top: auto;
  }
}
