---
title: Страница не найдена
css:
  - error-page.css
---
{{!< base}}

<main>
  <section class="section error-page">
    <h1 class="error-page__title">404</h1>
    <p class="error-page__message">Не туда попали</p>
    <a class="error-page__link" href="#">Назад к чатам</a>
  </section>
</main>
