---
title: Профиль пользователя
buttonText: Сохранить
css:
  - profile.css
  - avatar.css
---
{{!< base}}

<main>
  <section class="section profile">
    <div class="left-bar profile__left">
      <a class="profile__back" href="./profile.hbs"></a>
    </div>
    <div class="profile__right">
      <div class="profile__content">
        <div class="profile__avatar profile__avatar_without-name">
          {{> avatar}}
        </div>
        <form class="profile__form">
          <ul class="profile-data profile__user-data">
            <li class="profile-data__item">
              <label class="profile-data__label" for="old-password-input">Старый пароль</label>
              <input class="profile-data__input" id="old-password-input" type="password" name="oldPassword" value="oldPassword">
            </li>
            <li class="profile-data__item">
              <label class="profile-data__label" for="new-password-input">Новый пароль</label>
              <input class="profile-data__input" id="new-password-input" type="password" name="newPassword" value="newPassword!">
            </li>
            <li class="profile-data__item">
              <label class="profile-data__label" for="new-password-repeat-input">Повторите новый пароль</label>
              <input class="profile-data__input" id="new-password-repeat-input" type="password" name="repeatPassword" value="newPassword!">
            </li>
          </ul>
          {{> button}}
        </form>
      </div>
    </div>
  </section>
</main>
