---
title: Чат
---
{{!< base}}

<main>
  <h1>Здесь будет чат!</h1>
  <br>
  <a href="./login.hbs">Вход</a>
  <br><br>
  <a href="./signin.hbs">Регистрация</a>
  <br><br>
  <a href="./messenger.hbs">Чат</a>
  <br><br>
  <a href="./profile.hbs">Профиль пользователя</a>
  <br><br>
  <a href="./change-profile.hbs">Изменить профиль пользователя</a>
  <br><br>
  <a href="./change-password.hbs">Изменить пароль пользователя</a>
  <br><br>
  <a href="./404.hbs">404</a>
  <br><br>
  <a href="./500.hbs">500</a>
</main>
