---
title: Вход в чат
buttonText: Авторизоваться
buttonClass: login__button
css:
  - login.css
---
{{!< base}}

<main>
  <section class="section login">
    <div class="login__content">
      <h2 class="title login__title">Вход</h2>
      <form class="login__form">
        <label class="form-field form-field_error login__input">
          <span class="form-field__label">Логин</span>
          <input class="form-field__input" type="text" name="login" required>
          <p class="form-field__error">Ошибка</p>
        </label>
        <label class="form-field login__input">
          <span class="form-field__label">Пароль</span>
          <input class="form-field__input" type="password" name="password" required>
          <p class="form-field__error">Ошибка</p>
        </label>
        {{> button}}
      </form>
      <a class="login__link" href="../pages/signin.hbs">Нет аккаунта?</a>
    </div>
  </section>
</main>
