---
title: Чат
css:
  - messenger.css
---
{{!< base}}

<main>
  <section class="section messenger">
    <div class="left-bar messenger__left"></div>
    <div class="messenger__right"></div>
  </section>
</main>
